# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'GDB Debugger'
      'submenu': [
        {
          'label': 'Configure'
          'command': 'atom-gdb-debugger:configure'
        },
        {
          'label': 'Connect'
          'command': 'atom-gdb-debugger:connect'
        },
        {
          'label': 'Toggle Panel'
          'command': 'atom-gdb-debugger:toggle-panel'
        }
      ]
    ]
  }
]
