# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-o': 'atom-gdb-debugger:connect'
  'f5': 'atom-gdb-debugger:continue'
  'shift-f5': 'atom-gdb-debugger:interrupt'
  'f10': 'atom-gdb-debugger:next'
  'f11': 'atom-gdb-debugger:step'
  'shift-f11': 'atom-gdb-debugger:finish'
  'ctrl-k b': 'atom-gdb-debugger:backtrace'
'atom-text-editor':
  'f9': 'atom-gdb-debugger:toggle-breakpoint'
