// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes.less";

.atom-gdb-debugger {
}

.state-display {
    display:inline-block;
    float:right;
}
.state-display>span {
    padding: 4px;
}

.gdb-cli-input {
    white-space: nowrap;
    display: flex;
    input {
        flex: 1;
        border-color: transparent;
        background: inherit;
        font-family: monospace;
        border: 0;
        padding: 0 0 0 6px;
        color: @text-color-highlight;
    }
}

.gdb-cli {
    padding: 8px;;
    pre, code {
        background: transparent;
        padding: 0;
    }
    .scrolled-window {
        overflow-y: scroll;
        height: 100%;
    }
}

.gdb-debugger-panel .gdb-cli .scrolled-window {
    height: 100px;
}

.atom-text-editor, :host, atom-text-editor, atom-text-editor::shadow {
    .line.gdb-frame {
        background: @background-color-highlight;
    }

    .line-number.gdb-bkpt .icon-right {
    visibility: visible;

        &:before {
            content: @stop;
            color: @text-color-highlight;
        }
    }
}

.var-watch-view {
    padding: 8px;
    background: @pane-item-background-color;

    .var-watch-tree {
        padding: 0 8px 2px 8px;
        background-color: @tree-view-background-color;
        border: 1px solid @tree-view-border-color;
    }
    table {
        line-height: 2em
    }
    th, td {
        padding: 0 0.4em 0 0.4em;
    }

    td.expand-column span {
        padding-left: 1em;
        position: relative;
    }

    tr.collapsable td.expand-column span::before {
        font-family: 'Octicons Regular';
        content: @chevron-down;
        position: absolute;
        left: 0;
    }

    tr.collapsable.collapsed td.expand-column span::before {
        content: @chevron-right;
    }

    td span.delete::before {
        font-family: 'Octicons Regular';
        content: @x;
    }

    input#value {
        width: 7em;
    }
    input#value.changed {
        color: @text-color-error;
    }
}
